# Google Maps API Configuration
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyAN0es25saOwuZwSEZMFJcpMDaIY0Rdc5Q
NEXT_PUBLIC_GOOGLE_MAPS_ID=3daeffa80723b93d9d48696c

# Application Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
